.btn-outline-default {
    background: none;
    font-weight: 800;
    border: 1px solid #777;
    color: #777;
}

.btn-outline-primary {
    background: none;
    font-weight: 800;
    border: 1px solid #068AC9;
    color: #068AC9;
}

.btn-outline-success {
    background: none;
    font-weight: 800;
    border: 1px solid #36B249;
    color: #36B249;
}

.btn-outline-info {
    background: none;
    font-weight: 800;
    border: 1px solid #5BC0DE;
    color: #5BC0DE;
}

.btn-outline-yellow {
    background: none;
    font-weight: 800;
    border: 1px solid #E5E500;
    color: #E5E500;
}

.btn-outline-warning {
    background: none;
    font-weight: 800;
    border: 1px solid #FF5400;
    color: #FF5400;
}

.btn-outline-danger {
    background: none;
    font-weight: 800;
    border: 1px solid #D9534F;
    color: #D9534F;
}