<!DOCTYPE html>

<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <title></title>
    <!-- Custom-Style-Sheet -->
    <link rel="stylesheet" th:href="@{/assets/login/css/bootstrap.css}" type="text/css"
          media="all"/>
    <link rel="stylesheet" th:href="@{/assets/login/css/font-awesome.css}" type="text/css"
          media="all"/>

    <link rel="stylesheet" th:href="@{/assets/login/css/validify.css}" type="text/css" media="all"/>
    <link rel="stylesheet" th:href="@{/assets/login/css/style.css}" type="text/css" media="all"/>

    <link rel="stylesheet" th:href="@{/assets/css/a.css}" type="text/css" media="all"/>

    <!-- //Custom-Style-Sheet -->

    <!-- Fonts -->
    <!-- <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900"		type="text/css" media="all">
    <link rel="stylesheet" href="//fonts.googleapis.com/css?family=Montserrat:400,700"					type="text/css" media="all">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css"	type="text/css" media="all"> -->
    <!-- //Fonts -->

    <!-- Style -->
    <style type="text/css">

        .white-color {
            color: white;
        }

        @-webkit-keyframes AnimationName {
            0% {
                background-position: 15% 0%
            }
            50% {
                background-position: 86% 100%
            }
            100% {
                background-position: 15% 0%
            }
        }

        @-moz-keyframes AnimationName {
            0% {
                background-position: 15% 0%
            }
            50% {
                background-position: 86% 100%
            }
            100% {
                background-position: 15% 0%
            }
        }

        @keyframes AnimationName {
            0% {
                background-position: 15% 0%
            }
            50% {
                background-position: 86% 100%
            }
            100% {
                background-position: 15% 0%
            }
        }

        .textbox {
            margin: 20px 0;
            padding: 15px 20px;
            color: #fff;
            background-color: rgba(0, 0, 0, .25);
            border: 1px solid #CCC;
            border-radius: 0;
            box-shadow: none !important;
            transition: all .2s linear;
        }

        .btn-osx, button[disabled] {
            padding: 5px 10px;
            color: #fff;
            background-color: rgba(0, 0, 0, .1) !important;
            border: 1px solid rgba(255, 255, 255, .2);
            box-shadow: none !important;
            transition: all .2s linear;
            border-radius: 50%;
            font-size: 20px;
        }

        .btn-default:hover, .btn-default:focus, .btn-default.focus, .btn-default:active, .btn-default.active, .open > .dropdown-toggle.btn-default {
            color: #FFF;
            opacity: 1;
            border-color: #FFF !important;
        }

        @media screen and (max-width: 640px) {
            .textbox {
                margin: 20px 0;
                padding: 12px;
                font-size: 13px;
            }
        }

    </style>
    <!-- //Style -->
</head>
<body>


<h1><strong><span style="color: #3FD5C0">REGISTER</span></strong></h1>


<div class="row">
    <div class="col-md-8 col-md-offset-2 col-sm-8 col-sm-offset-2 col-xs-8 col-xs-offset-2">
        <div class="panel-group">
            <form id="RegisterFrom" class="form-horizontal" method="post" th:action="@{/register}"
                  th:object="${registerDtoRequest}">

                <div id="Box1" class="box-wrapper">
                    <div class="panel panel-primary">
                        <div class="panel-heading">Credentials</div>
                        <div class="panel-body">
                            <div class="text-left">

                                <div class="row">
                                    <div class="form-group"
                                         th:class="${#fields.hasErrors('username')} ? 'form-group has-error' : 'form-group'">
                                        <label class="col-sm-2 col-sm-offset-3 control-label">Username:</label>
                                        <div class="col-sm-3 col-sm-offset-1">
                                            <input th:field="*{username}"
                                                   type="text"
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                </div>

                                <div class="row" th:if="${#fields.hasErrors('username')}">
                                    <div class="has-error">
                                        <span class="col-sm-offset-6 col-sm-3">
                                            <div class="alert alert-danger">
                                                <ul>
                                                    <li th:each="err : ${#fields.errors('username')}"
                                                        th:inline="text">Username [[${err}]]</li>
                                                </ul>
                                            </div>
                                        </span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group"
                                         th:class="${#fields.hasErrors('password')} ? 'form-group has-error' : 'form-group'">
                                        <label class="col-sm-2 col-sm-offset-3 control-label">Password:</label>
                                        <div class="col-sm-3 col-sm-offset-1">
                                            <input th:field="*{password}"
                                                   type="password"
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" th:if="${#fields.hasErrors('password')}">
                                    <div class="has-error">
                                        <span class="col-sm-offset-6 col-sm-3">
                                            <div class="alert alert-danger">
                                                <ul>
                                                    <li th:each="err : ${#fields.errors('password')}"
                                                        th:inline="text">Password [[${err}]]</li>
                                                </ul>
                                            </div>
                                        </span>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <div class="panel panel-default">
                        <div class="panel-heading">General</div>
                        <div class="panel-body">
                            <div class="text-left">


                                <div class="row">
                                    <div class="form-group"
                                         th:class="${#fields.hasErrors('email')} ? 'form-group has-error' : 'form-group'">
                                        <label class="col-sm-2 col-sm-offset-2 control-label">Email:</label>
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <input type="email" th:field="*{email}"
                                                   class="form-control"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" th:if="${#fields.hasErrors('email')}">
                                    <div class="has-error">
                                        <span class="col-sm-offset-5 col-sm-4">
                                            <div class="alert alert-danger">
                                                <ul>
                                                    <li th:each="err : ${#fields.errors('email')}"
                                                        th:inline="text">Email [[${err}]]</li>
                                                </ul>
                                            </div>
                                        </span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group"
                                         th:class="${#fields.hasErrors('name')} ? 'form-group has-error' : 'form-group'">
                                        <label class="col-sm-2 col-sm-offset-2 control-label">Name:</label>
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <input type="text"
                                                   class="form-control"
                                                   th:field="*{name}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" th:if="${#fields.hasErrors('name')}">
                                    <div class="has-error">
                                        <span class="col-sm-offset-5 col-sm-4">
                                            <div class="alert alert-danger">
                                                <ul>
                                                    <li th:each="err : ${#fields.errors('name')}"
                                                        th:inline="text">Name [[${err}]]</li>
                                                </ul>
                                            </div>
                                        </span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group"
                                         th:class="${#fields.hasErrors('birthDate')} ? 'form-group has-error' : 'form-group'">
                                        <label class="col-sm-2 col-sm-offset-2 control-label">BirthDate:</label>
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <input id="BirthDate" type="date"
                                                   class="form-control"
                                                   th:field="*{birthDate}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" th:if="${#fields.hasErrors('birthDate')}">
                                    <div class="has-error">
                                        <span class="col-sm-offset-5 col-sm-4">
                                            <div class="alert alert-danger">
                                                <ul>
                                                    <li th:each="err : ${#fields.errors('birthDate')}"
                                                        th:inline="text">BirthDate [[${err}]]</li>
                                                </ul>
                                            </div>
                                        </span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group"
                                         th:class="${#fields.hasErrors('gender')} ? 'form-group has-error' : 'form-group'">
                                        <label class="col-sm-2 col-sm-offset-2 control-label">Gender:</label>
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <select class="form-control"
                                                    th:field="*{gender}">
                                                <option value="MAN">MAN</option>
                                                <option value="WOMAN">WOMAN</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group"
                                         th:class="${#fields.hasErrors('height')} ? 'form-group has-error' : 'form-group'">
                                        <label class="col-sm-2 col-sm-offset-2 control-label">Height:</label>
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <input type="number" step="0.1"
                                                   class="form-control"
                                                   th:field="*{height}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" th:if="${#fields.hasErrors('height')}">
                                    <div class="has-error">
                                        <span class="col-sm-offset-5 col-sm-4">
                                            <div class="alert alert-danger">
                                                <ul>
                                                    <li th:each="err : ${#fields.errors('height')}"
                                                        th:inline="text">Height [[${err}]]</li>
                                                </ul>
                                            </div>
                                        </span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group"
                                         th:class="${#fields.hasErrors('weight')} ? 'form-group has-error' : 'form-group'">
                                        <label class="col-sm-2 col-sm-offset-2 control-label">Weight:</label>
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <input type="number" step="0.1"
                                                   class="form-control"
                                                   th:field="*{weight}"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" th:if="${#fields.hasErrors('weight')}">
                                    <div class="has-error">
                                        <span class="col-sm-offset-5 col-sm-4">
                                            <div class="alert alert-danger">
                                                <ul>
                                                    <li th:each="err : ${#fields.errors('weight')}"
                                                        th:inline="text">Weight [[${err}]]</li>
                                                </ul>
                                            </div>
                                        </span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group"
                                         th:class="${#fields.hasErrors('phone')} ? 'form-group has-error' : 'form-group'">
                                        <label class="col-sm-2 col-sm-offset-2 control-label">Phone:</label>
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <input class="form-control"
                                                   th:field="*{phone}"
                                                   type="text"/>
                                        </div>
                                    </div>
                                </div>
                                <div class="row" th:if="${#fields.hasErrors('phone')}">
                                    <div class="has-error">
                                        <span class="col-sm-offset-5 col-sm-4">
                                            <div class="alert alert-danger">
                                                <ul>
                                                    <li th:each="err : ${#fields.errors('phone')}"
                                                        th:inline="text">Phone [[${err}]]</li>
                                                </ul>
                                            </div>
                                        </span>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="form-group"
                                         th:class="${#fields.hasErrors('religion')} ? 'form-group has-error' : 'form-group'">
                                        <label class="col-sm-2 col-sm-offset-2 control-label">Religion:</label>
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <select class="form-control"
                                                    th:field="*{religion}">
                                                <option value="MOESLIM">MOESLIM</option>
                                                <option value="CATHOLIC">CATHOLIC</option>
                                                <option value="CHRISTIAN">CHRISTIAN</option>
                                                <option value="BUDDHA">BUDDHA</option>
                                                <option value="HINDU">HINDU</option>
                                                <option value="OTHER">OTHER</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-4">
                                        <a class="btn btn-outline-success"
                                           onclick="changeLayout(0)">
                                            Next <i class="fa fa-arrow-circle-right"></i>
                                        </a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div style="display:none;" id="Box2" class="box-wrapper">
                    <div class="panel panel-danger">
                        <div class="panel-heading">
                            Please Fill Your Own Score From 1(lowest) - 5(highset). This will affect
                            to our match finder algorithm.
                        </div>
                    </div>
                    <div class="panel panel-primary" th:each="crit : ${criterias}">
                        <div class="panel-heading" th:inline="text">[[${crit.name}]]</div>
                        <div class="panel-body">
                            <div class="text-left">

                                <div class="row" th:each="subcrit : ${crit.subcriterias}">
                                    <div class="form-group">
                                        <label class="col-sm-2 col-sm-offset-2 control-label"
                                               th:inline="text">[[${subcrit.name}]]:</label>
                                        <div class="col-sm-4 col-sm-offset-1">
                                            <input name="subcrits" id="subcrits"
                                                   th:placeholder="${crit.id}+'|'+${subcrit.id}"
                                                   class="form-control subcrits" type="number"
                                                   step="1"
                                                   max="5" min="1"/>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-sm-offset-4 col-sm-4">
                                        <a class="btn btn-outline-default"
                                           onclick="changeLayout(1)">
                                            <i class="fa fa-arrow-circle-o-left"></i> Back
                                        </a>
                                        <button class="btn btn-outline-success">OK <i
                                                class="fa fa-angle-double-right"></i></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </form>
        </div>
    </div>
</div>


<div class="w3lsfooteragileits">
    <p> All Rights Reserved | <a href="#">Mohamad Fahrizal Septrianto</a></p>
</div>


<!-- Necessary-JavaScript-Files-&-Links -->

<!-- Default-JavaScript -->
<script type="text/javascript" th:src="@{/assets/login/js/jquery.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/smoothstate/jquery.smoothState.min.js}"></script>
<script type="text/javascript" th:src="@{/assets/login/js/bootstrap.js}"></script>
<script th:src="@{/assets/login/js/validify.js}"></script>
<script>
    /*<![CDATA[*/

    $('#RegisterFrom').submit(function (e) {
        e.preventDefault();
        const subs = document.getElementsByClassName('subcrits');
        console.log("subs.length", subs.length);
        for (let i = 0; i < subs.length; i++) {
//            console.log('id:', subs[i].placeholder, 'value', subs[i].value);
            subs[i].type = 'text';
            subs[i].value = subs[i].placeholder + '|' + subs[i].value;
            console.log("tes", subs[i].value);
        }

        console.log("birthDateVal: ", $('#BirthDate'));

        this.submit();
    });

    const changeLayout = function (i) {
        console.log('asd', i);
        if (i === 0) {
            document.getElementById('Box1').style.display = 'none';
            document.getElementById('Box2').style.display = 'block';
        } else {
            document.getElementById('Box2').style.display = 'none';
            document.getElementById('Box1').style.display = 'block';
        }
    }


    $("#demo").validify({
        onSubmit: function (e, $this) {
            $this.find('.alert').removeClass('hidden')
        },
        onFormSuccess: function (form) {
            console.log("Form is valid now!")
        },
        onFormFail: function (form) {
            console.log("Form is not valid :(")
        }
    });

    /*]]>*/
</script>
</body>
</html>
